  @font-face {
    font-family: 'Circular Std Bold';
    font-weight: bold;
    src: url('/Users/juanlucasumali/Desktop/personal website/website/public/fonts/circular-std-font-family/CircularStd-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Circular Std Book';
    font-weight: bold;
    src: url('/Users/juanlucasumali/Desktop/personal website/website/public/fonts/circular-std-font-family/CircularStd-Book.ttf') format('truetype');
  }
  
  @keyframes fadeInUp {
    0% {
      transform: translateY(5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .home-page {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: -3rem;
  }

  .home-headers {
    margin-top: -4rem;
    padding-left: 8rem;
    animation: 1.5s fadeInUp
  }
  
  .main-header {
    display: flex;
    align-items: center;
  
    font-size: 5rem;
    font-family: 'Circular Std Bold', sans-serif;
    font-weight: bold;
  }
  
  .main-header-emoji {
    font-size: 5rem;
  }
  
  .main-header-greeting {
    font-size: 5rem;
    margin-left: 1rem;
  }
  
  .sub-header {
    font-size: 1.5rem;
    font-family: 'Circular Std Book', sans-serif;

    margin-top: -3.5rem;
  }

  .socials {
    display: flex;
    justify-content: left;
  }
  
  .socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    margin: 0 10px;

  }
  
  .linkedin, .github, .instagram {
    width: 100%;
    height: 100%;
  }
  
  .background {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: white;

    animation: 3s fadeIn;
  }

  .orbits {
    transform: translate(280px, 550px);
  }

  .outer-orbit {
    position: absolute;
    transform: translate(-50%, -50%) rotate(322deg);
    width: 750px;
    height: 1100px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
  }


  .inner-orbit {
    position: absolute;
    transform: translate(-50%, -50%) rotate(322deg);
    width: 500px;
    height: 850px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
  }

  .saturn {
    transform: translate(1150px, 350px)
  }

  .saturn-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -240px) rotate(322deg);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff 50%, transparent 0);

    z-index: 3;
  }

  .saturn-ring-animator {
    width: 600px;
    height: 160px;
    transform: translate(-250px, -90px) rotate(322deg);
    fill: white;
    stroke: #e0e0e0;
    stroke-width: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 2000;
    animation: rotate 10s linear infinite;
    animation-iteration-count: infinite;
    z-index: -1;
  }

  .saturn-ring {
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    transform: translate(300px, 80px)
  }

  @keyframes rotate {
    to {
      stroke-dashoffset: 0;
    }
  }