.background {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: white;
}

.orbits {
  transform: translate(280px, 550px);
}

.outer-orbit {
  position: absolute;
  transform: translate(-50%, -50%) rotate(322deg);
  width: 750px;
  height: 1100px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}


.inner-orbit {
  position: absolute;
  transform: translate(-50%, -50%) rotate(322deg);
  width: 500px;
  height: 850px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.saturn {
  transform: translate(1150px, 350px)
}


.saturn-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(322deg);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff 50%, transparent 0);

}

.saturn-holder {
  width: 600px;
  height: 160px;
  transform: translate(-250px, -90px) rotate(322deg);
  fill: white;
  stroke: #e0e0e0;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 2000;
  animation: rotate 10s linear infinite;
  animation-iteration-count: infinite;
}

.saturn-ring {
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  transform: translate(300px, 80px)
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}